@charset "utf-8";
@import url(../commens/header.css);
@import url(../commens/footer.css);

.contents {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contents .inner-con {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin: 0 auto;
}

.contents .inner-con .join {
    width: 100%;
    max-width: 640px;
    height: auto;
    border: 0px solid;
    margin: 0 auto;
    padding: 0 50px;
}

.contents .inner-con .join .inner-join {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0px solid;
}

.contents .inner-con .join .inner-join .join-title {
    width: 100%;
    height: auto;
    border: 0px solid;
    font-size: 16px;
    margin-bottom: 50px;
}

.contents .inner-con .join .inner-join .join-title h1.title {
    text-align: center;
    padding: 20px 0px;
    font-size: 32px;
}

.contents .inner-con .join .inner-join .join-title h1.title::after {
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join .inner-join .join-title h1.title .point {
    width: 30%;
    color: #6c801d;
    float: left;
    text-align: right
}

.contents .inner-con .join .inner-join .join-title h1.title .t-title {
    width: 69%;
    float: left;
    text-align: left;
    margin-left: 1%;
}

.contents .inner-con .join .inner-join .join-title p {}

.contents .inner-con .join .inner-join .join-form {
    width: 100%;
    height: auto;
    border: 0px solid;
}

.contents .inner-con .join .inner-join .join-form form {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin-bottom: 20px;
}

.contents .inner-con .join .inner-join .join-form form > ul > li {
    width: 100%;
    height: 55px;
    border: 0px solid;
    line-height: 55px;
    margin: 13px 0;
}

.contents .inner-con .join .inner-join .join-form form > ul > li input {
    width: 100%;
    height: auto;
    line-height: 55px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;

}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(3) ul::after {
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(3) ul > li.telecom {
    width: 35%;
    height: auto;
    border: 0px solid;
    float: left;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(3) ul > li.telecom select {
    width: 100%;
    height: 55px;
    text-indent: 20px;
    font-size: 15px;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(3) ul > li.phoneNumber {
    width: 62%;
    height: 55px;
    border: 0px solid;
    float: right;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(6) {
    width: 100%;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(6) input {
    width: 67%;
    float: left;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(6) span.pwCheck {
    width: 30%;
    height: 20px;
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
}

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(7) {
    font-size: 20px;
}

.contents .inner-con .join .inner-join .join-form form p {
    margin-bottom: 20px;
}

.contents .inner-con .join .inner-join .join-form form .agree {
    width: 100%;
    height: auto;
    border: 0px solid;
    padding: 0px 20px 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
}

.contents .inner-con .join .inner-join .join-form form .agree h3.title {
    margin-bottom: 10px;
    border: 0px solid;
    font-size: 15px;
}

.contents .inner-con .join .inner-join .join-form form .go-join {
    width: 100%;
    height: 50px;
    border: 0px solid;
}

.contents .inner-con .join .inner-join .join-form form .go-join input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background: #555555;
    color: #fff;
}

.contents .inner-con .join .inner-join .join-foreigner {
    width: 100%;
    height: auto;

}

.contents .inner-con .join .inner-join .join-foreigner .go-forJoin {
    width: 150px;
    height: auto;
    border: 1px solid;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    s
}

.contents .inner-con .join .inner-join .join-foreigner .go-forJoin a {
    width: 100%;
    height: auto;
    display: block;
    border: 0px solid;
}

.contents .inner-con .join .inner-join .join-foreigner .go-forJoin span.forJoin-t {
    border: 0px solid;
}

.contents .inner-con .join .inner-join .join-foreigner .go-forJoin span.go-icon {
    display: inline-block;
    width: 10px;
    height: 15px;
    border: 0px solid;
    background: url(../../img/join/join-arrow.png) no-repeat 50%;
    background-size: cover;
    vertical-align: middle;
    margin-left: 5px;
}

input {
    outline: #
}


input[type=checkbox]:checked + label span {
    background: url(../../img/join/join-checked.png);
    background-size: cover;
}

/*.contents .inner-con .join .inner-join .join-form form>ul>li:nth-child(7) input[type=checkbox]:checked + label span::before{
    content: "\2713";
    padding-left: 5px;
    boxsi
    border: 1px solid;
    width: 24px;
    display: block;
    height: 24px;
    line-height: normal;
}*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../../img/join/join-unchecked.png);
    cursor: pointer;
    background-size: cover;
    border: 0px solid;
    margin-left: 20px
        /*border-radius: 50%;*/
}


/*모든약관 동의*/

.contents .inner-con .join .inner-join .join-form form > ul > li:nth-child(7) input[type="checkbox"] + label span {
    width: 30px;
    height: 30px;
